.Login-content{
    padding: 0;
    box-shadow: 3px 4px 10px -3px black;
}
.Login-content-form-icon{
    height: 1.2rem;
}
.Login-content-form-btn-icon{
    margin-right: .5rem;
    height: 1.2rem;
}
.Login-content-logo{
    background-color: rgb(40,44,52);
}
.Login-content-logo p{
    padding-bottom: .4rem;
    color: white;
}
.form-floating > label{
    padding: .3rem;
}
.form-floating > .form-control, .form-floating > .form-select{
    height: calc(2rem + .8rem);
}

/*----ID------*/
#login-logo{
    width: 12rem;
    height: auto;
}